
body {
	background-color: black;
	color: white;
	min-height: 99vh;

	box-sizing: border-box;
	margin: 0;
	padding: 15px;
	letter-spacing: 1px;

	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	border: 1px solid wheat;
}

.container {
	width: 350px;
}

.container h1 {
	margin-bottom: 2em;
	color: rgb(236, 148, 117);
}

h3 {
	text-align: left;
	margin-top: 2em;
}

.story img {
	width: 300px;
	transform: scale(0.9);

	border-radius: 8px;
}

.stories img:hover {
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	transition: 1s ease;
	border: 7px solid cyan;
}

.story h2 {
	color: gold;
	text-shadow: 0 0 10px rgba(255, 215, 0, 0.75), 0 0 20px rgba(255, 215, 0, 0.5); /* Glowing gold text shadow */
	font-size: 25px;

}